* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

.intro {
    background-color: #a8b2bb;
    background: #1e72c0;
}


a{
    font-weight: bold !important;
}

h1 {
    color: #0a0a0a;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
}

h3 {
    color: #0a0a0a;
    text-align: center;
}

button {
    border: none;
    border-radius: 8px;
    padding: 10px;
    background: #7B8788;
    color: white;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: 0.5s;
}

button:hover,
h1:hover {
    transform: scale(1.1);
}

button:hover {
    background-color: #4C4B4B;
}

footer {
    color: #000408;;
    background-color: #69cac8 !important;
    letter-spacing: 0.5px;
}

footer p {
    margin: 0;
    font-size: 15px;
}


@media only screen and (orientation:portrait) {
    .intro {
        display: flex;
        flex-direction: column-reverse;
    }

    h1 {
        font-size: 30px;
    }

    .act {
        padding-bottom: 100px;
    }
}

